.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.campo-busca {
  width: 100%;
  max-width: 300px;
  font-size: 14px;
}

/* arredonda as bordas da tabela */
.tabela-container {
  border-radius: 8px;
  overflow: hidden;
}

table {
  width: 100%;
}

.thumb-camisa {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 5px;
}

.badge {
 background-color: #b6d67dff;  /* para a etiqueta das categorias */
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: bold;
}
